*.egg-info/
.ipynb_checkpoints/
__pychache__/
*.pyc
dist/
build/
.DS_Store

# Extract data files since they're stored remotely
#biograder/data_hw3
#biograder/data_hw1

# Exclude files that are downloaded by utils functions
# --- none currently ---

# Include index url files
#!biograder/data_hw3/index_urls.tsv
#!biograder/data_hw1/index_urls.tsv